NODE_ENV=development
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nestdb

TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=default

OPENAI_API_KEY=
